In [1]:
# If you're using Jupyter Notebook, these libraries should be already available
import pandas as pd
import numpy as np

In [2]:
# Let's create a simple table of fruits
data = {
    'Fruit': ['Apple', 'Banana', 'Orange', 'Apple', 'Banana'],
    'Color': ['Red', 'Yellow', 'Orange', 'Red', 'Green'],
    'Weight': [150, 120, 160, 140, 130],  # in grams
    'Is_Ripe': ['Yes', 'Yes', 'No', 'Yes', 'No']
}

df = pd.DataFrame(data)
df

    Fruit   Color  Weight Is_Ripe
0   Apple     Red     150     Yes
1  Banana  Yellow     120     Yes
2  Orange  Orange     160      No
3   Apple     Red     140     Yes
4  Banana   Green     130      No

In [3]:
df.isnull().sum()

Fruit      0
Color      0
Weight     0
Is_Ripe    0
dtype: int64

In [4]:
df.fillna('Unknown', inplace=True)

In [5]:
# Convert 'Is_Ripe' from Yes/No to 1/0
df['Is_Ripe'] = df['Is_Ripe'].map({'Yes': 1, 'No': 0})

In [6]:
# Create a new feature: Is_Heavy (1 if weight > 140g)
df['Is_Heavy'] = df['Weight'].apply(lambda x: 1 if x > 140 else 0)

In [7]:
df = pd.get_dummies(df, columns=['Fruit', 'Color'])

In [8]:
df

,Weight,Is_Ripe,Is_Heavy,Fruit_Apple,Fruit_Banana,Fruit_Orange,Color_Green,Color_Orange,Color_Red,Color_Yellow
0,150,1,1,True,False,False,False,False,True,False
1,120,1,0,False,True,False,False,False,False,True
2,160,0,1,False,False,True,False,True,False,False
3,140,1,0,True,False,False,False,False,True,False
4,130,0,0,False,True,False,True,False,False,False